@import "../Fonts/vazir/font-face-FD.css";

body {
  font-family: 'Vazir FD', serif;
}

.spinner-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
